target/
analyzer/
.env
.build-cargo
frontend/node_modules
frontend/dist

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/.terraform.tfstate*
terraform/.tfvars

release.sh
